html {
    font-family: sans-serif;
}

body {
    background-color: #663300;
}

.centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: #ffffff;
    font-size: 50px;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000; */
}

.game-container {
    width: 50%;
    height: 600px;
    background-color: #663300;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #000000;
    /* border-width: 1px; */
    border-width: 0;
    border-radius: 0px;
}

.player-info {
    position: absolute;
    top: 65%;
    left: 50%;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.game-table {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #005e00;
    /* border-color: #ffee00; */
    border-width: 15px;
    border-radius: 1000px;
    background-color: #008000;
    width: 75%;
    height: 45%;
    margin-bottom: 1%;
}

.table {
    position: absolute;
    top: 35%;
    left: 41.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
}

.card {
    border-radius: 5px;
    width: 75px;
}

.hand {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.player-hand {
    position: absolute;
    top: 52.5%;
    left: 47.5%;
}

.player-2-hand {
    position: absolute;
    top: 21%;
    left: 47.5%;
}

.player-3-hand {
    position: absolute;
    top: 47.5%;
    left: 27.5%;
}

.player-4-hand {
    position: absolute;
    top: 32.5%;
    left: 27.5%;
}

.player-5-hand {
    position: absolute;
    top: 32.5%;
    left: 64%;
}

.player-6-hand {
    position: absolute;
    top: 47.5%;
    left: 64%;
}

.buttons {
    position: absolute;
    top: 72.5%;
    left: 62.5%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.button {
    cursor: pointer;
    color: #ffffff;
    background-color: #00000081;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}

.fold-button {
    border-color: #c0384f;
}

.call-button {
    border-color: #9ad0a0;
}

.raise-button {
    border-color: #fdcd95;
}

.popup-container {
    position: fixed;
    top: 25%;
    background-color: #ffffff;
    width: 20%;
    height: 250px;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
    border-radius: 15px;
}

.close-button {
    position: absolute;
    right: 1%;
    cursor: pointer;
    font-size: 30px;
    border-color: transparent;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
}

.popup-head {
    display: flex;
}

.popup-header {
    font-size: 30px;
}

.popup-paragraph {
    margin-top: -2%;
    font-size: 27.5px;
}

.popup-body {
    text-align: center;
}

.continue-button {
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    padding: 3%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #e9e9ed;
}